*{
    margin: 0;
    border: border-box;
    font-family: arial;

}
.nav {
height: 60px;
background-color: #0f1111;
color: white;
display: flex;
align-items: center;
justify-content: space-evenly;
}

.nav-logo {
    height: 50px;
    width: 100px;
}

.logo {
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;
}

.w {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    
}

button {

    margin: 20px auto;
    padding: 10px 20px;
    background-color: yellow;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

p {
    font-size: large;
   padding-top: 20px;
   padding-bottom: 20px;
  
}

.email {
    height: 30px;
    width: 250px;
    border: 1.5px solid black;
}

.ops {
    padding: 10px 10px 10px;
}


.but {
    background-color: aqua;
}